* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --color-snare: linear-gradient(
    90deg,
    #4279dfd5 0px,
    #427adf 40px,
    #4279dfd5 80px
  );
  --color-kick: linear-gradient(
    90deg,
    #9b42dfd5 0px,
    #9b42df 40px,
    #9b42dfd5 80px
  );
  --color-hihat: linear-gradient(
    90deg,
    #df8a42d5 0px,
    #df8a42 40px,
    #df8a42d5 80px
  );
  --color-theme1-text: #6c6c6c;
}

body {
  background: var(--color-theme1);
  font-family: monospace;
  overflow-x: hidden;
  --color-theme1: #ccd8f1;
  --shadow-theme1: 0px 0px 0px 6px #dfe6f6, -10px -10px 20px -5px #f9fbfd,
    10px 10px 20px #a9bee8;
  --shadow-theme1-2: -10px -10px 20px -5px #f9fbfd, 10px 10px 20px #a9bee8;
  --shadow-active-pad: inset 0px 2px 0px 0px #dfe6f6,
    -10px -10px 20px -5px #f9fbfd, 10px 10px 20px #a9bee8;
  --background-active: #c7d9ff;
}
.dark-theme {
  --color-theme1: #231f1e;
  --shadow-theme1: -3px -3px 13px 3px #302b29, 4px 4px 15px 6px #0c0b0b;
  --shadow-theme1-2: -3px -3px 13px 3px #302b29, 4px 4px 15px 6px #0c0b0b;
  --background-active: #211e1d;
  --shadow-active-pad: inset 0px 2px 0px 0px #302b29,
    -10px -10px 20px -5px #211e1d, 10px 10px 20px #0c0b0b;
}
body.dark-theme > main > section div h1 {
  color: #dddddd;
}
i,
svg {
  pointer-events: none;
}
main.sequencer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
section.kick-track,
section.snare-track,
section.hihat-track {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1350px;
  justify-content: space-between;
  margin-top: 5rem;
}
.kick,
.snare,
.hihat {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;
  position: relative;
}
@media (max-width: 400px) {
  main.sequencer {
    flex-direction: initial;
  }
  section.kick-track,
  section.snare-track,
  section.hitat-track {
    width: 35% !important;
  }
  select {
    width: 100%;
  }
  .controls {
    margin: 10px;
  }
  .controls,
  .controls > div {
    flex-direction: column;
  }
  .controls > button {
    margin: 10px;
  }
}
.controls button {
  padding: 1rem;
  border: none;
  background: var(--color-theme1);
  box-shadow: var(--shadow-theme1-2);
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 500ms ease;
  color: var(--color-theme1-text);
}

.kick-pad,
.snare-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.6rem;
  cursor: pointer;
  border-radius: 10px;
}
.kick-pad {
  background-image: var(--color-kick);
  box-shadow: var(--shadow-theme1);
}
.kick-pad.active {
  opacity: 0.7;
  box-shadow: var(--shadow-active-pad);
}
.snare-pad {
  background-image: var(--color-snare);
  box-shadow: var(--shadow-theme1);
}
.snare-pad.active {
  opacity: 0.7;
  box-shadow: var(--shadow-active-pad);
}
.hihat-pad {
  background-image: var(--color-hihat);
  box-shadow: var(--shadow-theme1);
}
.hihat-pad.active {
  box-shadow: var(--shadow-active-pad);
  opacity: 0.7;
}
.pad {
  transition: all 400ms cubic-bezier(0.71, 0.49, 0.49, 1.45);
}
.pad.active {
  transition: all 400ms cubic-bezier(0.71, 0.49, 0.49, 1.45);
}
select {
  background: var(--color-theme1);
  box-shadow: var(--shadow-theme1-2);
  color: var(--color-theme1-text);
  padding: 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  font-family: monospace;
}
button:focus,
input:focus {
  outline: 0;
}
div.actions {
  display: flex;
  flex-flow: column;
}
button.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background: var(--color-theme1);
  box-shadow: var(--shadow-theme1-2);
  color: var(--color-theme1-text);
  border: none;
  cursor: pointer;
  margin-top: 3rem;
  border-radius: 10px;
  font-family: monospace;
  transition: all 500ms ease;
  width: 130px;
  align-self: center;
}
button.active {
  background: var(--background-active);
}
.bpm {
  margin: 3rem;
  text-align: center;
  align-self: center;
  max-width: 550px;
  width: 90%;
}
input.bpm-slider {
  padding: 0.2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  position: relative;
  background: var(--color-theme1);
  box-shadow: var(--shadow-theme1-2);
  cursor: pointer;
  border-radius: 10px;
}
input.bpm-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 35px;
  margin-top: -10px;
  margin-bottom: -10px;
  border-radius: 50%;
  background: url("../images/icons-slider.svg") no-repeat center center,
    var(--background-active);
  box-shadow: var(--shadow-theme1-2);
  cursor: pointer;
}
input.bpm-slider::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  width: 35px;
  height: 35px;
  margin-top: -10px;
  margin-bottom: -10px;
  border-radius: 50%;
  background: var(--color-theme1);
  box-shadow: var(--shadow-theme1-2);
  cursor: pointer;
}
.bpm label {
  font-size: 1.5rem;
  font-family: monospace;
  margin: 2rem;
  color: var(--color-theme1-text);
}

section.interactions {
  position: absolute;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}
.dropdown-container {
  cursor: pointer;
  margin: 10px;
}
.dropdown-container > .box-info {
  background: var(--color-theme1);
  padding: 0.8rem;
  border-radius: 5px;
  color: var(--color-theme1-text);
  font-size: 1.2rem;
  width: 400px;
  left: 50px;
  box-shadow: 0px 5px 15px #58585885;
  opacity: 0;
  transform: scale(0);
  transition: all 300ms ease;
  position: absolute;
  transform-origin: left top;
  z-index: 3;
}
.dropdown-container > .box-info.active {
  opacity: 1;
  transform: scale(1);
  transition: all 300ms ease;
  transform-origin: left top;
}
.help-info:hover {
  background: var(--background-active);
}
.help-info {
  display: inline-block;
  position: relative;
  border-radius: 10px;
  background: var(--color-theme1);
  box-shadow: var(--shadow-theme1-2);
}
.help-info i {
  font-size: 2rem;
  color: var(--color-theme1-text);
}
figure.git-hub-link {
  width: 80px;
  height: 80px;
  clip-path: polygon(0 0, 100% 100%, 100% 0);
  background: #2e2e2e;
  transition: transform 200ms ease;
}
figure.git-hub-link:hover {
  transform: scale(1.2);
}
figure.git-hub-link > a > img {
  width: 64px;
  transform: rotate(45deg);
  margin: 18px;
}
.change-theme .btn-theme,
.btn-reset {
  padding: 0.5rem;
  font-size: 1.5rem;
  background: var(--color-theme1);
  box-shadow: var(--shadow-theme1-2);
  color: var(--color-theme1-text);
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-family: monospace;
  margin: 10px;
}
.btn-reset i {
  transition: all 700ms;
}
.change-theme .btn-theme.active {
  background: var(--background-active);
}

@keyframes playTrack {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes shines {
  0% {
    background-position: -80px;
  }
  100% {
    background-position: -10px;
  }
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #00000085;
}
